<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.fs.mapper.FsSysUserMapper">
  <resultMap id="BaseResultMap" type="com.x.fs.model.FsSysUser">
    <id column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="CANCEL_DATE" jdbcType="TIMESTAMP" property="cancelDate" />
    <result column="GMT_CREATED" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="USER_STATUS" jdbcType="VARCHAR" property="userStatus" />
    <result column="LOCK_STATUS" jdbcType="VARCHAR" property="lockStatus" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType" />
    <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USER_CODE, USER_NAME, MOBILE, PHONE, EMAIL, ADDRESS, USER_TYPE, LAST_LOGIN_TIME, 
    CANCEL_DATE, GMT_CREATED, GMT_MODIFIED, CREATOR, OPERATOR, USER_STATUS, LOCK_STATUS, 
    USER_PWD, CARD_TYPE, CARD_NO, REMARK
  </sql>
  <select id="selectByExample" parameterType="com.x.fs.model.FsSysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fs_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fs_sys_user
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fs_sys_user
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.x.fs.model.FsSysUserExample">
    delete from fs_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.x.fs.model.FsSysUser">
    insert into fs_sys_user (USER_CODE, USER_NAME, MOBILE, 
      PHONE, EMAIL, ADDRESS, 
      USER_TYPE, LAST_LOGIN_TIME, CANCEL_DATE, 
      GMT_CREATED, GMT_MODIFIED, CREATOR, 
      OPERATOR, USER_STATUS, LOCK_STATUS, 
      USER_PWD, CARD_TYPE, CARD_NO, 
      REMARK)
    values (#{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{cancelDate,jdbcType=TIMESTAMP}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, #{lockStatus,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.x.fs.model.FsSysUser">
    insert into fs_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="cancelDate != null">
        CANCEL_DATE,
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED,
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="userStatus != null">
        USER_STATUS,
      </if>
      <if test="lockStatus != null">
        LOCK_STATUS,
      </if>
      <if test="userPwd != null">
        USER_PWD,
      </if>
      <if test="cardType != null">
        CARD_TYPE,
      </if>
      <if test="cardNo != null">
        CARD_NO,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelDate != null">
        #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreated != null">
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.x.fs.model.FsSysUserExample" resultType="java.lang.Long">
    select count(*) from fs_sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fs_sys_user
    <set>
      <if test="record.userCode != null">
        USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null">
        LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cancelDate != null">
        CANCEL_DATE = #{record.cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtCreated != null">
        GMT_CREATED = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null">
        USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.lockStatus != null">
        LOCK_STATUS = #{record.lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null">
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null">
        CARD_TYPE = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null">
        CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fs_sys_user
    set USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      CANCEL_DATE = #{record.cancelDate,jdbcType=TIMESTAMP},
      GMT_CREATED = #{record.gmtCreated,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{record.gmtModified,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
      LOCK_STATUS = #{record.lockStatus,jdbcType=VARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      CARD_TYPE = #{record.cardType,jdbcType=VARCHAR},
      CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.x.fs.model.FsSysUser">
    update fs_sys_user
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelDate != null">
        CANCEL_DATE = #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreated != null">
        GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null">
        LOCK_STATUS = #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.x.fs.model.FsSysUser">
    update fs_sys_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      CANCEL_DATE = #{cancelDate,jdbcType=TIMESTAMP},
      GMT_CREATED = #{gmtCreated,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      LOCK_STATUS = #{lockStatus,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </update>
</mapper>